---
import Layout from "../layouts/Layout.astro";
import Poke from "../components/Poke.astro";
---

<Layout title="Hey everybody check me out!">
	<main>
		<h1>Welcome Pokemon!</h1>
		<Poke name="pikachu" />
		<Poke name="raichu" />
		<Poke name="kyogre" />
	</main>
</Layout>
